<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>دپارتمان ها</strong>
      </c-card-header>
      <c-card-body>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <button class="btn btn-dark" (click)="this.addNew()">جدید</button>
              <button class="btn btn-info" (click)="this.loadItems()">بازیابی</button>
            </div>
            <ng-container [ngTemplateOutlet]="grid"></ng-container>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<ng-template #grid>

  <kendo-grid
    [kendoGridBinding]="this.gridData"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [filterable]="false"
    [groupable]="false"
    [height]="420"
  >
    <kendo-grid-column title="ردیف" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{rowIndex + 1}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="title" title="تایتل" [width]="140"></kendo-grid-column>

    <kendo-grid-column field="titleEn" title="Title" [width]="140"></kendo-grid-column>

    <kendo-grid-column field="picName" title="تصویر" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <img [src]="dataItem.picName" style="width: 150px;height: 70px;" alt="">
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="shortDescription" title="توضیحات کوتاه" [width]="140">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.shortDescription}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="shortDescriptionEn" title="Short Description" [width]="140">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.shortDescriptionEn}}
      </ng-template>
    </kendo-grid-column>


    <kendo-grid-column field="oder" title="ترتیب نمایش" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <strong>{{dataItem.order}}</strong>
      </ng-template>
    </kendo-grid-column>


    <kendo-grid-column field="picName" title="عملیات" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          <button class="margin-left-5" themeColor="warning" kendoButton size="small"
                  (click)="this.editModal(dataItem)">ویرایش
          </button>
          <button themeColor="error" kendoButton size="small" (click)="this.delete(dataItem)">حذف</button>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</ng-template>


<ng-template #itemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      اسلایدر
    </h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <app-custom-input
        [isRequired]="true"
        [typeInput]="this.getEnumTypeInput.text"
        [titleName]="'تایتل'" [(modelName)]="this.model.title"
        [titleNameEn]="'Title'" [(modelNameEn)]="this.model.titleEn"
      ></app-custom-input>
    </div>

    <div class="row">
      <app-custom-input
        [isRequired]="true"
        [typeInput]="this.getEnumTypeInput.textarea"
        [titleName]="'توضیحات کوتاه'" [(modelName)]="this.model.shortDescription"
        [titleNameEn]="'Short Description'" [(modelNameEn)]="this.model.shortDescriptionEn"
      ></app-custom-input>
    </div>


    <div class="row">
      <app-custom-input
        [typeInput]="this.getEnumTypeInput.textarea"
        [titleName]="'توضیحات '" [(modelName)]="this.model.description"
        [titleNameEn]="' Description'" [(modelNameEn)]="this.model.descriptionEn"
      ></app-custom-input>
    </div>


    <div class="row">
      <app-custom-input
        [typeInput]="this.getEnumTypeInput.number"
        [titleName]="'ردیف'" [(modelName)]="this.model.order"
      ></app-custom-input>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <c-row class="mb-3">
          <label cLabel class="col-sm-4 col-form-label">
            تصویر
          </label>
          <div class="col-sm-8">
            <app-file-upload
              [readOnly]="false"
              [fileName]="this.model.picName"
              (fileNameOut)="this.model.picName = $event"
              (fileListOut)=" this.picFileList = $event"
            >
            </app-file-upload>
          </div>
        </c-row>
      </div>
    </div>

    <hr>

    <app-show-error-list [errorsListForPage]="this.errorsListForPage"></app-show-error-list>

    <div class="row">
      <div class="col-md-12">

        <button class="btn btn-success margin-left-5" style="margin-left: 5px" (click)="this.addOrUpdateSlider()">
          ذخیره
        </button>
        <button class="btn btn-warning margin-left-5" (click)="this.closeModal()">انصراف</button>
      </div>
    </div>


  </div>

</ng-template>


