<div class="login_page">
  <div class="container">
    <div class="form_outer_wrapper login_form_wrapper">
      <h2 class="title">ورود کاربر</h2>
      <div class="form_inner_wrapper">
        <div class="input_holder">
          <input type="email" placeholder="{{ 'EMAIL' | translate }}">
        </div>
        <div class="input_holder">
          <input type="password" placeholder="{{ 'PASSWORD' | translate }}">
        </div>
        <div class="input_holder">
          <input type="submit" value="{{ 'SIGN IN' | translate }}" class="red_btn">
        </div>
        <div class="input_holder">
          <label class="checkbox_label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox_ui"></span>
            <span class="check_label_text">
              {{ 'FOR REMEMBER' | translate }}
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
