<div class="faq_container section_tween_item">
  <div class="title">
    <span>سوالات متداول</span>
  </div>
  <div class="faq_list_wrapper">
    <ul class="faq_list">
      <li class="faq_item expanded">
        <div class="question_title">
          <span>بهترین زمان برای یادگیری زبان چه سنی است؟</span>
        </div>
        <div class="question_answer">
          <p>
            بر اساس پژوهش های انجام شده توسط روانشناسان آموزشی،
            زبانشناسان و متخصصان کودک، بهترین سن یادگیری زبان دوم،
            سنین بین 2 تا 5 سال است که از آن به عنوان دوران حیاتی
            (Critical Period) یاد می کنند. برای کسانی که زبان فارسی
            زبان اول و انگلیسی زبان دوم آنها می باشد، فراگیری زبان
            سوم از سن 8 سال توصیه می شود. آموزش آنلاین نیز در سنین
            زیر 7 سال با همراهی والدین و در سنین بالای 7 سال بدون
            نیاز به حضور والدین مفید و آموزنده و البته ضروری است.
            نوآموزان متولد سال های 1380 به بعد از نظر متخصصان، بومی
            دنیای دیجیتال (Digital Native) شناخته شده اند و همین
            موضوع یادگیری زبان به صورت آنلاین را برای آنها جذاب و
            آسان می نماید.
          </p>
        </div>
      </li>
      <li class="faq_item">
        <div class="question_title">
          <span>چرا آکادمی زبان مهرداد؟</span>
        </div>
        <div class="question_answer">
          <p>
            بر اساس پژوهش های انجام شده توسط روانشناسان آموزشی،
            زبانشناسان و متخصصان کودک، بهترین سن یادگیری زبان دوم،
            سنین بین 2 تا 5 سال است که از آن به عنوان دوران حیاتی
            (Critical Period) یاد می کنند. برای کسانی که زبان فارسی
            زبان اول و انگلیسی زبان دوم آنها می باشد، فراگیری زبان
            سوم از سن 8 سال توصیه می شود. آموزش آنلاین نیز در سنین
            زیر 7 سال با همراهی والدین و در سنین بالای 7 سال بدون
            نیاز به حضور والدین مفید و آموزنده و البته ضروری است.
            نوآموزان متولد سال های 1380 به بعد از نظر متخصصان، بومی
            دنیای دیجیتال (Digital Native) شناخته شده اند و همین
            موضوع یادگیری زبان به صورت آنلاین را برای آنها جذاب و
            آسان می نماید.
          </p>
        </div>
      </li>
      <li class="faq_item">
        <div class="question_title">
                      <span
                      >بعد از گذراندن چه سطحی فرزندم می تواند انگلیسی را آسان
                        و روان صحبت کند؟</span
                      >
        </div>
        <div class="question_answer">
          <p>
            سطوح خردسالان به پایه ریزی توانمندی ها و رشد استعدادهای
            زبانی نوآموزان می پردازد و در همین سنین فرزند شما می
            تواند در مورد مباحث آشنا صحبت کند. در سطوح متوسط، پس از
            حداکثر 4 سال زبان آموزی از سطح صفر، کودکان می توانند در
            گفتگو های مختلف و بحث های آزاد براحتی شرکت نموده و به
            انگلیسی مقالات پنچ پاراگرافی (Five Paragraph Essay)
            بنویسند و در مدارس خارجی تحصیل کنند. با ورود به سنین
            نوجوانی و ادامه یادگیری، زبان آموزان قادر خواهند بود تا
            قبل از دوران متوسطه دوم به سطح پیشرفته زبان (Cambridge
            CAE-C1) برسند و انگلیسی را به آسانی و روانی فارسی صحبت
            کنند، بخوانند و بنویسند. در چنین سطحی برای ورود به
            مدرسه، دانشگاه و تحصیلات تکمیلی مطلقا مشکل زبانی نخواهند
            داشت. در مجموع طول دوره زبان آموزی از پایه تا پیشرفته
            شامل 10 سطح می باشد و زبان آموزانی که از 7 سالگی شروع می
            کنند به طور پیوسته تا قبل از 16 سالگی به سطح زبانی
            انگلیسی زبان ها (Native) می رسند.
          </p>
        </div>
      </li>
      <li class="faq_item">
        <div class="question_title">
                      <span
                      >بعد از گذراندن چه سطحی فرزندم می تواند انگلیسی را آسان
                        و روان صحبت کند؟</span
                      >
        </div>
        <div class="question_answer">
          <p>
            سطوح خردسالان به پایه ریزی توانمندی ها و رشد استعدادهای
            زبانی نوآموزان می پردازد و در همین سنین فرزند شما می
            تواند در مورد مباحث آشنا صحبت کند. در سطوح متوسط، پس از
            حداکثر 4 سال زبان آموزی از سطح صفر، کودکان می توانند در
            گفتگو های مختلف و بحث های آزاد براحتی شرکت نموده و به
            انگلیسی مقالات پنچ پاراگرافی (Five Paragraph Essay)
            بنویسند و در مدارس خارجی تحصیل کنند. با ورود به سنین
            نوجوانی و ادامه یادگیری، زبان آموزان قادر خواهند بود تا
            قبل از دوران متوسطه دوم به سطح پیشرفته زبان (Cambridge
            CAE-C1) برسند و انگلیسی را به آسانی و روانی فارسی صحبت
            کنند، بخوانند و بنویسند. در چنین سطحی برای ورود به
            مدرسه، دانشگاه و تحصیلات تکمیلی مطلقا مشکل زبانی نخواهند
            داشت. در مجموع طول دوره زبان آموزی از پایه تا پیشرفته
            شامل 10 سطح می باشد و زبان آموزانی که از 7 سالگی شروع می
            کنند به طور پیوسته تا قبل از 16 سالگی به سطح زبانی
            انگلیسی زبان ها (Native) می رسند.
          </p>
        </div>
      </li>
      <li class="faq_item">
        <div class="question_title">
                      <span
                      >بعد از گذراندن چه سطحی فرزندم می تواند انگلیسی را آسان
                        و روان صحبت کند؟</span
                      >
        </div>
        <div class="question_answer">
          <p>
            سطوح خردسالان به پایه ریزی توانمندی ها و رشد استعدادهای
            زبانی نوآموزان می پردازد و در همین سنین فرزند شما می
            تواند در مورد مباحث آشنا صحبت کند. در سطوح متوسط، پس از
            حداکثر 4 سال زبان آموزی از سطح صفر، کودکان می توانند در
            گفتگو های مختلف و بحث های آزاد براحتی شرکت نموده و به
            انگلیسی مقالات پنچ پاراگرافی (Five Paragraph Essay)
            بنویسند و در مدارس خارجی تحصیل کنند. با ورود به سنین
            نوجوانی و ادامه یادگیری، زبان آموزان قادر خواهند بود تا
            قبل از دوران متوسطه دوم به سطح پیشرفته زبان (Cambridge
            CAE-C1) برسند و انگلیسی را به آسانی و روانی فارسی صحبت
            کنند، بخوانند و بنویسند. در چنین سطحی برای ورود به
            مدرسه، دانشگاه و تحصیلات تکمیلی مطلقا مشکل زبانی نخواهند
            داشت. در مجموع طول دوره زبان آموزی از پایه تا پیشرفته
            شامل 10 سطح می باشد و زبان آموزانی که از 7 سالگی شروع می
            کنند به طور پیوسته تا قبل از 16 سالگی به سطح زبانی
            انگلیسی زبان ها (Native) می رسند.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="faq_link block float_left link red_link"
  >صفحه سوالات متداول</a
  >
</div>
